AWS_REGION=<AWS_REGION>

# AWS SSO params
AWS_SSO_START_URL=<AWS_SSO_START_URL>
AWS_SSO_REGION=<AWS_SSO_REGION>
AWS_SSO_ACCOUNT_ID=<AWS_SSO_ACCOUNT_ID>
AWS_SSO_ROLE_NAME=<AWS_SSO_ROLE_NAME>

# or if you use static keys
# AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
# AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>

# AWS EKS params
EKS_CLUSTER_NAME=<EKS_CLUSTER_NAME>
EKS_ROLE_NAME=<EKS_ROLE_NAME>

# Yandex Cloud credentials
YC_TOKEN=<YC_TOKEN>
YC_STORAGE_ACCESS_KEY=<YC_STORAGE_ACCESS_KEY>
YC_STORAGE_SECRET_KEY=<YC_STORAGE_SECRET_KEY>
